.banner {
  overflow: hidden;
  margin: auto;
  position: relative;
}
.slider,
.item,
img,
.banner {
  height: 550px;
  width: 700px;
  border-radius: 20px;
}
.info {
  position: absolute;
  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 35%;
}
.item {
  position: absolute;
  opacity: 0;
  transition: all 1s;
}

ul li {
  list-style: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-right: 10px;
  background-color: #fff;
}
.info ul li {
  display: inline-block;
}

.active {
  opacity: 1 !important;
}
.activebtn {
  background-color: orange !important;
}
